@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

html {
    scroll-behavior: smooth;
    background-color: #C8B29C;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */
h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #525252;
}

p {
    font-family: Oswald, sans-serif;
    color: #525252;
    font-size: medium;
}

#logo {
    float: left;
    font-family: cursive;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-family: Oswald, sans-serif;
    font-size: 110%;
}

.card-text {
    font-size: 110%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* library image*/
#library-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#library-image {
    height: 160em;
    width: 100%;
    background: url("../images/library.jpg") no-repeat center center;

    /* animate zoom efect on loading page*/
    animation-name: library-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create zoom for library image*/
@keyframes library-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* about section*/
section #about {
    height: 600px;
    background-color: #BBB198;
}

#about-h2 {
    padding-bottom: 1em;
}

.container-fluid.about-section-color {
    background-color: #ece9e1;
}

.container-fluid.video-section-color {
    /* background-color: #C8B29C; */
    background-color: #ece9e1;
    ;
}

.container-fluid.map-section-color {
    background-color: #ece9e1;
}

hr {
    border: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#about-section h2 {
    font-family: Oswald, sans-serif;
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#map-section h2 {
    font-family: Oswald, sans-serif;
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

/* video section */

.video-container {
    margin: 2.5%;
    padding: 2.5%;
}

.map-container {
    margin: 2.5%;
    padding: 2.5%;
}

/* footer */
.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

@keyframes footer-zoom {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.footer-icon:hover {
    animation-name: footer-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#footer-ul {
    padding-left: 0;
}

footer ul {
    padding-left: 0;
}

.custom-link {
    text-decoration: none;
}

/* Gallery  page*/
@keyframes card-zoom {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
        z-index: 1;
    }

    60% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.card {
    height: 100%;
}

.card-img-top {
    /* height: 75%; */
    height: 45em;
    object-fit: cover;
}

.card:hover {
    animation-name: card-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

iframe {
    width: 100%;
    border: 3px solid #EBD092;
    border-radius: 0.7em;
}

.container-fluid.gallary-color {
    background-color: #ece9e1;
}

/* Contact Us Page*/

button {
    background-color:  #C8B29C;
    border: 3px solid #C8B29C;
    border-radius: 0.7em;
}

.container-fluid.contact-form-color {
    background-color: #ece9e1;
}

/* media queries */
@media screen and (max-width: 1200px) {
    #about {
        height: 45em;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    hr {
        display: none;
    }

    #about h2 {
        text-align: center;
    }

    #about p {
        text-align: center;

    }

    .card-text {
        font-size: 150%;
    }

    .card-title {
        font-size: 150%;
    }
}

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-weight: bold;
    }

    #about {
        height: 50em;
        margin: 0 auto;
    }

    #about h2 {
        text-align: center;
    }

    #about p {
        text-align: center;

    }

    .card-text {
        font-size: 150%;
    }

    .card-title {
        font-size: 150%;
    }
}

@media screen and (max-width: 915px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        padding: 0;
        line-height: 25px;
        font-weight: bold;
    }

    #about {
        /* height: 45em;  */
        margin: 0 auto;
    }

    #about h2 {
        text-align: center;
    }

    #about p {
        text-align: center;
        font-size: 150%;
    }

    .card-text {
        font-size: 150%;
    }

    .card-title {
        font-size: 150%;
    }
}

@media screen and (max-width: 653px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        padding-left: 0;
        line-height: 15px;
        font-size: 60%;
        font-weight: bold;
    }

    #logo {
        font-size: 150%;
    }

    .card-text {
        font-size: 150%;
    }

    .card-title {
        font-size: 150%;
    }

    #about {
        height: 65em;
        margin: 0 auto;
    }

    #about h2 {
        text-align: center;
    }

    #about p {
        text-align: center;
        font-size: 100%;
    }
}